li {
    list-style-type: none;
}

label {
    margin-right: 2%;
}

/* Estilo de forms */
.colunaDoForm {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.inputForm {
    width: 100%;
    padding: 0% 3%;
    margin: 4% 0 4%;
    color: black;
    display: flex;
}

.mensagemErroValidacao {
    display: flex;
    text-align: center;
    color: rgb(255, 0, 0);

}

.mensagensDeErros {
    width: 100%;
    text-align: left;
}

.formAtualiza {
    text-align: center;
}

/* Estilo da Navbar */
.navbar {
    display: flex;
    background-color: pink;
    margin-bottom: 0.5%;
}

.listaDePaginas {
    display: flex;
    justify-content: space-around;
}

.estilizacaoDotextoDaPagina {
    display: flex;
    margin: 0% 13vw;
}